.page__number {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__number li {
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}

li.active {
    background-color: white;
    color: black;
}

li button {
    background-color: white;
    color: black;
    border: none;
    padding: 2px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.disabled {
    background-color: #dddddd;
}